.greentext {
	color: #b9ca4a;
	font-family: CodingFontTobi, monospace;
	font-size: 12pt;
}
.inlinequote {
	color: #969896;
}
.hashtag {
	color: #7aa6da;
}

.darkusername {
	text-shadow: 1px 1px 5px #909090;
}
