.greentext {
	color: #b9ca4a;
	font-family: CodingFontTobi, monospace;
	font-size: 12pt;
}
.inlinequote {
	color: #969896;
}
.hashtag {
	color: #7aa6da;
}
.code {
	font-family: CodingFontTobi, monospace;
	font-size: 12pt;
	text-align: left;
	white-space: pre-wrap;
}
.meme {
	text-align: left;
	white-space: pre-wrap;
}
.user_brackets {
	font-weight: bold;
}
.user {
	text-shadow: none;
	font-weight: bold;
}
.darkusername,
.darkipcolor {
	text-shadow: 0 0 5px #ffffff;
}
.emote {
	font-weight: bold;
}
