body {
	font-family: Ubuntu, sans-serif;
}
label {
	font-size: 10px;
	text-transform: uppercase;
	cursor: pointer;
	display: block;
}
input {
	margin-bottom: 1em;
}

#contentpane {
	width: 140px;
	margin: 20px auto;
}
