body {
	color: white;
	background-color: black;
	font-family: "Ubuntu", sans-serif;
	overflow: hidden;
}
a {
	color: #7070FF;
}
a:hover {
	color: #FF7070;
}

#chatbody {
	word-wrap: break-word;
	overflow: auto;
	padding: 0 5px;

	position: absolute;
	bottom: 74px;
	right: 0px;
	left: 0px;
	top: 0px;
}

#message {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position: absolute;
	bottom: 18px;
	height: 48px;
	width: 100%;
	left: 0px;

	font-family: "Ubuntu", sans-serif;
	background-color: white;
	padding: 0.2em 0.1em;
	font-size: 10pt;
	border: 0;

	resize: none;
}

#controls {
	font-size: 12px;
	color: #707070;
}
#controls a {
	color: #707070;
}
#controls a:hover {
	color: #7070FF;
}

#control_left {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#control_center {
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	text-align: center;
}

#control_right {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#chirp_vol {
	padding: 0px;
	margin: -5px;
	margin-right: 2.5px;
}

.user_brackets {
	font-weight: bold;
}
