body {
	color: white;
	background-color: black;
	font-family: "Ubuntu", sans-serif;
}

#chatbody {
	word-wrap: break-word;
	overflow: auto;
	padding: 0 5px;

	position: absolute;
	bottom: 78px;
	right: 0px;
	left: 0px;
	top: 0px;
}

#message {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position: absolute;
	bottom: 22px;
	height: 48px;
	width: 100%;
	left: 0px;

	font-family: "Ubuntu", sans-serif;
	background-color: white;
	padding: 0.2em 0.1em;
	font-size: 10pt;
	border: 0;

	resize: none;
}
